* {
    box-sizing: border-box;
}
body {
    background-color: rgba(214, 213, 213, 0.822);
}
.slide,.container {
    margin: 3em auto;
    width: 100%;
    max-width: 900px;
}
.container {
    position: relative;
}
.slide {
    display: none;
}

img {
    width: 500px;
    border: 2px solid white;
}
button {
    display: none;
}

p {
    position: absolute;
    top: 0%;
    padding: 12px 10px;
    text-align: center;
    background-color: rgba(209, 202, 202, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0 0 5px 0;
    font-size: x-large;
    font-weight: 900;
    margin: 0 auto;
}

.left {
    position: absolute;
    background-color: rgba(245, 245, 220, 0);
    color: rgba(240, 248, 255, 0);
    top: 45%;
    border: none;
}

.left:hover{
    color: black;
    background-color: teal;
}
.right {
    position: absolute;
    background-color: rgba(245, 245, 220, 0);
    color: rgba(240, 248, 255, 0);
    top: 45%;
    right: 44.5%;
    border: none;
}

.right:hover{
    color: black;
    background-color: teal;
}